/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	width:960px;
	margin:25px auto;
	background-color:#CCC;	
}

/*Header CSS*/
header {
	height:100px;
	width:960px;
	background-color:#999;
	font-family:Arial, Helvetica, sans-serif;	
}
header h1 {
	width:740px;
	padding-top:25px;
	padding-left:100px;
	float:left;
	text-align:center;
	font-size:48px;
	color:#333;
}
nav {
	width:100px;
	height:50px;
	float:right;
	background-color:#666;
	color:white;
	text-align:center;	
}
nav li {
	padding-top:5px;	
}
nav a {
	text-decoration:none;
	color:white;	
}
nav a:hover {
	color:#0F0;	
}

#selectorWrap {
	width: 760px;
	height: 250px;
	padding-top:20px;
	margin:0px auto;
	background-color:#333;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;	
	border:solid 1px red;
}
button {
	width: 200px;
	height: 40px;
	border-radius:15px;	
	background-color:#0F0;
	color:#333;
	font-size:16px;
}

.optBoxWrap {
	background-color:#063;
	width:760px;
	height:175px;
}
.eachOptionWrap {
	width:245px;
	height:175px;
	background-color:#033;
	border-left:solid 4px #063;
	border-right:solid 4px #063;
	overflow:hidden;
	padding-bottom:0px;
	float:left;
}
.title {
	width:175px;
	height: 30px;
	background-color:#666;
	padding:5px 0px 0px 5px;
	float:left;
}
.title h3{
	font-size:24px;
	color:#0f0;
	padding-left:0px;
}
.desc {
	width:233px;
	min-height:100px;
	background-color:#093;
	margin:0px auto;
	clear:both;	
	overflow:hidden;
}
.desc p{
	padding-left:10px;
	font-size:14px;	
}
.selectBtn {
	width:30px;
	height:30px;
	background-color:#0f0;
	float:right;
	padding:10px 0px 0px 10px;	
}
.price {
	width:60px;
	height:30px;
	background-color:#0f0;
	float:right;
	display:flex;
	justify-content:space-around;	
}
.price h4{
	font-size:20px;
	padding-top:5px;
	
}
#baseWrap {
	display:none;
	position:fixed;
	top:190px;
	left:20px;	
}
#wrapWrap {
	display:none;
	position:fixed;
	top:190px;
	left:20px;	
}
#visorWrap {
	display:none;
    position:fixed;
	top:190px;
	left:20px;	
}
#flareWrap {
	display:none;
	position:fixed;
	top:315px;
	left:20px;		
}
#techWrap {
	display:none;
	position:fixed;
	top:315px;
	left:20px;	
		
}
/*Form styling*/
#loginForm {
	width:200px;
	height:200px;
	background-color:#666;
	margin:200px auto;
	border-radius:15px;
}
#registerForm{
	width:200px;
	height:275px;
	background-color:#666;
	margin:200px auto;
	border-radius:15px;	
}

form h2 {
	width:200px;
	height:40px;
	border-radius:15px 15px 0px 0px;
	background-color:#999;
	padding-top:10px;
	font-size:28px;
	text-align:center;
	margin:0px auto;
	margin-bottom:25px;
}
.formElement {
	width:175px;
	margin:15px auto;		
}
#LogIn, #Register {
	width:75px;
	border-radius:5px;
	margin:0px auto;	
	margin-left:50px;
	margin-top:20px;
}
#submitOrder {
	width:125px;
	height:30px;
	margin:40px 0px 0px 400px;	
}