/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#selectorWrap {
	width: 960px;
	height: 250px;
	background-color:#333;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;	
	/*align-items:stretch;*/
}
#selectorWrapBottom {
	width: 960px;
	height: 250px;
	background-color:#333;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;	
	/*align-items:stretch;*/
}

button {
	width: 250px;
	height: 40px;
	border-radius:15px;	
	background-color:#0F0;
	color:#333;
	font-size:16px;
}

.optBoxWrap {
	background-color:#063;
	width:960px;
	height:175px;	
}
.eachOptionWrap {
	width:300px;
	height:175px;
	background-color:#033;
/*	position:relative;	
*/	overflow:hidden;
	margin:0px 10px 0px 10px;
	padding-bottom:0px;
	float:left;
}
.title {
	width:200px;
	height: 30px;
	background-color:#666;
	padding:5px 0px 0px 5px;
	float:left;
}
.title h3{
	font-size:24px;
	color:#0f0;
	padding-left:0px;
}
.desc {
	width:250px;
	min-height:100px;
	background-color:#093;
	margin:0px 0px 5px 10px;
	clear:both;	
	overflow:hidden;
}
.desc p{
	padding-left:10px;
	font-size:14px;	
}
.selectBtn {
	width:30px;
	height:30px;
	background-color:#0f0;
	float:right;
	padding:10px 0px 0px 10px;	
}
.price {
	width:60px;
	height:30px;
	background-color:#0f0;
	float:right;
	display:flex;
	justify-content:space-around;	
}
.price h4{
	font-size:20px;
	padding-top:5px;
	
}
#baseWrap {
	display:none;
	position:fixed;
	top:110px;
	left:0px;	
}
#wrapWrap {
	display:none;
	position:fixed;
	top:110px;
	left:0px;	
}
#visorWrap {
	display:none;
    position:fixed;
	top:110px;
	left:0px;	
*/}
#flareWrap {
	display:none;
	position:fixed;
	top:235px;
	left:0px;		
}
#techWrap {
	display:none;
	position:fixed;
	top:235px;
	left:0px;		
}